@model dynamic

<h2>Subdomain examples</h2>

<p>
    <a href="http://admin.localattributerouting.com/">Routing to static subdomain (aka: admin.localattributerouting.com)</a>    
</p>
<p>
    <a href="http://user.localattributerouting.com/">Routing to dynamic subdomain (aka: user.localattributerouting.com)</a>
</p>